* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background: #a55959;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: 8vh 92vh;
  grid-template-areas:
    "nav"
    "main";
}

/* Navigation */
.nav {
  grid-area: nav;
  background: #a55959;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.nav ul li a {
  color: #fffaf1;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s, font-size 0.5s;
}

.nav ul li a:hover {
  color: #eeccd9;
  font-size: 20px;
}

/* Main content */
.main {
  width: 100%;
  display: grid;
  grid-template-rows: 15vh 65vh 12vh;
  grid-template-areas:
    "headerContainer"
    "formContainer"
    "resultContainer";
}

.headerContainer {
  grid-area: headerContainer;
  background: #a55959;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  color: #fffaf1;
 
}
.formContainer
{
   grid-area: formContainer;
  display:flex;
  justify-content:center;
  align-items:center;

  background:#a55959;
}
form{
 width:70%;
  height:90%;
  
  border-radius:20px;
  
  background:  #fffaf1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "jobTitle industry"
    "jobDescription requirements"
    "benefits companyProfile"
    "submitButton submitButton";
  grid-gap: 10px;
  padding:20px;
  background-image:url('https://cdn.glitch.global/7d537833-65a0-471e-b1a4-893a4f30c809/Untitled%20design%20(8).png?v=1728823481216');
  background-size:cover;
  background-repeat:no-repeat;
  background:  #fffaf1;
}

.jobTitle {
  grid-area: jobTitle;

  display:flex;
  flex-direction:column;
  justify-content:center;
}

.industry {
  grid-area: industry;
  
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.jobDescription {
  grid-area: jobDescription;
 
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.requirements {
  grid-area: requirements;
  
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.benefits {
  grid-area: benefits;
 
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.companyProfile {
  grid-area: companyProfile;

  display:flex;
  flex-direction:column;
  justify-content:center;
}

.submitButton {
  grid-area: submitButton;


}
button
{
  width:100%;
  height:100%;
  border-radius:50px;
  border:2px solid #fffaf1;
  background:#a55959;
  font-size:20px;
  color:#fffaf1;

}
button:hover
{
   color:#a55959;
  border:2px solid #a55959;
    background:#fffaf1;
}



label
{
  height:30%;
  text-align:center;
   color:#a55959;
 
}
textarea, input
{
  height:70%;
  border-radius:10px;
  padding:10px;
   border:2px solid #a55959;
  background:#fffaf1;
  /*background-color: rgba(165, 89, 89, 0.5);*/
  color:#a55959;
  transition: background-color 0.3s ease;
  
}
textarea:focus, input:focus {
  background-color:#a55959;
  outline: none; 
  color:#fffaf1;
}


.resultContainer {
  grid-area: resultContainer;
  background: #a55959;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.result
{
  width:70%;
  height:90%;
  background: #fffaf1;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
    color:#a55959;
}

/******************************************************************************
Footer BElow
******************************************************************************/
footer
{
  grid-area:Footer;
  background:#fffaf1;
  padding-block:0.5vh;


}

.fa {
  font-size: 20px;
  color: #a55959;
  text-decoration:none;
}


.footerTop
{
  height:13vh;
  width:100vw;
  display:grid;
  padding-block:1vh;
  grid-template-rows:repeat(3,1fr);
  grid-template-areas:
    "contactSocialMedia"
    "footerNav"
    "peopleFooter"

    ;
}

.peopleFooter
{
  grid-area:peopleFooter;
  width:20vw;
  height:4vh;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:10px;
  color:#a55959;
  
  
}


.footerNav {
  grid-area:footerNav;
 
  margin:auto;
  width: 40vw;
  height: 4vh;
  background: #fffaf1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footerNav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footerNav ul li {
  margin-right: 20px;
}

.footerNav ul li a {
  color: #a55959;
  text-decoration: none;
  font-size: 15px;
}


.contactSocialMedia {
  grid-area:contactSocialMedia ;

 width:20vw;
  height:4vh;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}





.footerDivider
{
  height:3vh;
   width:100vw;

  display:flex;
  flex-direction:column;
  justify-content:center;
  
}
hr
{
 height:2px;
  width:90vw;
  background:#a55959;
  border:none;
   margin:auto;
}
.footerBottom
{
  color:#a55959;
  height:9vh;
   width:100vw;
 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
}
